// Define variables for your color scheme

// For example:
// $red: #FD1015;
// $blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;

// Define variables for your color scheme

$BLACK: #1C1E1D;
$WHITE: #FFFFFF;
$BACKGROUND: #FBFCFB;
$SECONDARY_100: #BAFFEA;
$SECONDARY_200: #29ECC4;
$SECONDARY_300: #1FC09F;
$SECONDARY_400: #16967C;
$SECONDARY_500: #0D6E5A;
$SECONDARY_600: #06493B;
$NEUTRAL_100: #E9E8E8;
$NEUTRAL_200: #DEDDDD;
$NEUTRAL_300: #C4C4C4;
$NEUTRAL_400: #ADADAD;
$NEUTRAL_500: #868686;
$NEUTRAL_600: #404040;
$ERORR_100: #ED2E2E;
$ERORR_200: #C30000;
$SUCCESS_200: #009618;
$SUCCESS_100: #28C05C;
$TAILWIND_GRAY_50: #F9FAFB;
$TAILWIND_GRAY_200: #E5E7EB;
$TAILWIND_GRAY_500: #6B7280;
$TAILWIND_GRAY_300: #D1D5DB;
$TAILWIND_GRAY_800: #1F2937;
$TAILWIND_GRAY_950: #030712;