.bg-child6 {
    width: 23.438rem;
    height: 50.75rem;
    position: relative;
    background-color: var(--black);
    display: none;
    max-width: 100%;
  }
  .bg-child7 {
    top: 0;
    left: 0;
    border-radius: var(--br-7xs);
    background-color: var(--grey-deep);
    width: 100%;
    height: 100%;
    display: none;
  }
  .bg-child7,
  .bg11,
  .icon6 {
    position: absolute;
  }
  .bg11 {
    top: 0;
    left: 0;
    border-radius: var(--br-7xs);
    background-color: var(--grey-deep);
    width: 100%;
    height: 100%;
  }
  .icon6 {
    height: 28.57%;
    width: 14.29%;
    top: 37.14%;
    right: 42.86%;
    bottom: 34.29%;
    left: 42.86%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    object-fit: contain;
    z-index: 1;
  }
  .arrow,
  .forgot-password3 {
    position: relative;
    z-index: 1;
  }
  .arrow {
    height: 2.188rem;
    width: 2.188rem;
  }
  .forgot-password3 {
    margin: 0;
    font-size: inherit;
    font-weight: 700;
    font-family: inherit;
  }
  .forgot-password-frame {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xs) 0 0;
  }
  .arrow-parent,
  .bg-inner1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .arrow-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .bg-inner1 {
    width: 15.688rem;
    justify-content: flex-start;
    padding: 0 var(--padding-12xs);
    box-sizing: border-box;
  }
  .and-well-send,
  .enter-the-email,
  .reset-your-password {
    margin: 0;
  }
  .enter-the-email-container {
    position: relative;
    z-index: 1;
  }
  .bg-child8 {
    height: 3.125rem;
    width: 20.938rem;
    position: relative;
    border-radius: var(--br-smi);
    border: 1px solid var(--color-darkslategray);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .email2,
  .icon7 {
    position: relative;
    z-index: 2;
  }
  .email2 {
    width: 2.938rem;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-sm);
    background-color: transparent;
    height: 1.313rem;
    color: var(--color-gray-100);
    text-align: left;
    display: inline-block;
    padding: 0;
  }
  .icon7 {
    width: 1.313rem;
    height: 1rem;
    object-fit: cover;
  }
  .icon-wrapper2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-11xs) 0 0;
  }
  .bg-child9,
  .bg12 {
    border-radius: var(--br-smi);
    max-width: 100%;
  }
  .bg12 {
    align-self: stretch;
    border: 1px solid var(--color-darkslategray);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-smi) var(--padding-xl) var(--padding-xs)
      var(--padding-lg);
    gap: var(--gap-xl);
    z-index: 1;
  }
  .bg-child9 {
    height: 3.125rem;
    width: 20.938rem;
    position: relative;
    background-color: var(--green);
    display: none;
  }
  .send {
    position: relative;
    font-size: var(--font-size-base);
    display: inline-block;
    font-family: var(--font-space-grotesk);
    color: var(--white);
    text-align: left;
    min-width: 2.438rem;
    z-index: 2;
  }
  .bg13 {
    cursor: pointer;
    border: 0;
    padding: var(--padding-mini) var(--padding-xl);
    background-color: var(--green);
    align-self: stretch;
    border-radius: var(--br-smi);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    max-width: 100%;
    z-index: 1;
  }
  .bg-group,
  .enter-the-email-associated-wit-parent,
  .frame-wrapper1 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .bg-group {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-xl);
  }
  .enter-the-email-associated-wit-parent,
  .frame-wrapper1 {
    align-self: stretch;
    box-sizing: border-box;
  }
  .frame-wrapper1 {
    flex-direction: row;
    padding: 0 0 0 var(--padding-12xs);
  }
  .enter-the-email-associated-wit-parent {
    flex-direction: column;
    padding: 0 var(--padding-12xs) 12.937rem 0;
    gap: 6.125rem;
    text-align: left;
    font-size: var(--font-size-sm);
    color: var(--color-dimgray);
    font-family: var(--font-poppins);
  }
  .back-to-again {
    position: relative;
    font-weight: 500;
    display: inline-block;
    min-width: 6.125rem;
    z-index: 1;
  }
  .back-to-again-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
    font-size: var(--font-size-sm);
    font-family: var(--font-poppins);
  }
  .bg10,
  .forgot-password2 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .bg10 {
    flex: 1;
    background-color: var(--black);
    flex-direction: column;
    padding: var(--padding-25xl) var(--padding-lgi) var(--padding-13xl);
    box-sizing: border-box;
    gap: 6rem;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-silver);
    font-family: var(--font-space-grotesk);
  }
  .forgot-password2 {
    width: 100%;
    position: relative;
    background-color: var(--white);
    overflow: hidden;
    flex-direction: row;
    line-height: normal;
    letter-spacing: normal;
  }
  