body {
  margin: 0;
  line-height: normal;
}

/* fonts */
$font-poppins: Poppins;
$font-space-grotesk: "Space Grotesk";
$font-krona-one: "Krona One";

/* font sizes */
$font-size-sm: 0.875rem;
$font-size-base: 1rem;
$font-size-11xl: 1.875rem;
$font-size-xl: 1.25rem;

/* Colors */
$white: #fff;
$color-gray-100: #888;
$black: #101216;
$color-silver: #bbb;
$color-dimgray: #666;
$green: #1bbb9b;
$color-darkgray: #aaa;
$color-darkslategray: #454545;

/* Gaps */
$gap-9xl: 1.75rem;
$gap-lg-5: 1.156rem;
$gap-3xs: 0.625rem;
$gap-xl: 1.25rem;

/* Paddings */
$padding-lgi: 1.187rem;
$padding-13xl: 2rem;
$padding-31xl: 3.125rem;
$padding-12xs: 0.062rem;
$padding-smi: 0.812rem;
$padding-xl: 1.25rem;
$padding-lg: 1.125rem;
$padding-xs: 0.75rem;
$padding-11xs: 0.125rem;
$padding-9xs: 0.25rem;
$padding-8xs: 0.312rem;
$padding-input: 0.75rem;
$padding-25xl: 2.75rem;
$padding-12xs: 0.062rem;
$padding-smi: 0.812rem;
$padding-mini: 0.937rem;
$padding-xs: 0.75rem;
$padding-11xs: 0.125rem;
$padding-2xl: 1.312rem;
$padding-8xs: 0.312rem;


/* Border radiuses */
$br-smi: 13px;
$br-7xs: 6px;
