

  <ul class="d-flex gap-5 list-unstyled ">
    <li><%= link_to "Transactions", transactions_path(@wallet), class:"link-offset-2 link-underline link-underline-opacity-0" %></li>
    <li><%= link_to "Home", wallet_path(@wallet), class:"link-offset-2 link-underline link-underline-opacity-0" %></li>

    <li><%= link_to "Goals", wallet_goals_path(@wallet), class:"link-offset-2 link-underline link-underline-opacity-0" %></li>
  </ul>
