
<h1>Welcome to Countrol</h1>
<p>Take control of your finances like never before – track expenses, set budgets, and achieve financial freedom</p>

<div class="background">
  <%= image_tag "image3" %>
 </div>
