<h1><%= @wallet.name %></h1>

<%= link_to 'Wallets', wallets_path %>

<p>
  <strong>Balance:</strong>
  <h3><%= @transactions.amount %></em></h3>
</p>

<ul>
  <% @wallets.each do |wallet| %>
    <li> <%= link_to wallet.name, wallet_path(wallet) %> </li>
  <% end %>
</ul>
