.page-container {
 display: grid;
 min-height: 100vh;
 grid-template-rows: auto 1fr auto;
}

.navbar-container {
  position: sticky;
  bottom: 10px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 219px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 30px 30px 30px 30px;
  opacity: 1;
  padding: 10px 0;
  border: 1px solid $NEUTRAL_600;
  background-color: $NEUTRAL_600;
}

.navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px;
}

.navbar-icons img {
  transform: scale(1.25);
}

.navbar-icons img:hover {
  filter: brightness(75%);
}
