<%= link_to '<i class="fa-solid fa-chevron-left"></i> Back'.html_safe, wallet_path(@wallet) %>


<h1>Goals</h1>

<%= link_to new_wallet_goal_path do %>
  <i class="fa-solid fa-plus"></i> Add a Goal
<% end %>


<ul>
<% @user_goals.each do |goal| %>
  <li> <%= link_to goal.title, wallet_goal_path(@wallet, goal) %> </li>
<% end %>
</ul>
