body {
  margin: 0;
  line-height: normal;
}

// app/assets/stylesheets/_globalG.scss

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-space-grotesk: "Space Grotesk";
  --font-krona-one: "Krona One";

  /* font sizes */
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-11xl: 1.875rem;
  --font-size-xl: 1.25rem;
  --font-size-smi: 0.813rem;
  --font-size-lg: 1.125rem;
  --font-size-mini: 0.938rem;

  /* Colors */
  --white: #fff;
  --color-gray-100: #888;
  --color-gray-200: #222;
  --grey-deep: #212121;
  --color-gray-300: #1c1c1c;
  --black: #101216;
  --color-gray-400: #101010;
  --color-silver: #bbb;
  --color-dimgray-100: #666;
  --color-dimgray-300: rgba(102, 102, 102, 0.7);
  --color-dimgray-200: rgba(102, 102, 102, 0.8);
  --green: #1bbb9b;
  --color-darkgray: #aaa;
  --color-darkslategray-100: #454545;
  --color-darkslategray-200: #333;

  /* Gaps */
  --gap-9xl: 1.75rem;
  --gap-lg-5: 1.156rem;
  --gap-3xs: 0.625rem;
  --gap-xl: 1.25rem;
  --gap-sm: 0.875rem;

  /* Paddings */
  --padding-25xl: 2.75rem;
  --padding-lgi: 1.187rem;
  --padding-13xl: 2rem;
  --padding-31xl: 3.125rem;
  --padding-12xs: 0.062rem;
  --padding-smi: 0.812rem;
  --padding-mini: 0.937rem;
  --padding-xl: 1.25rem;
  --padding-lg: 1.125rem;
  --padding-xs: 0.75rem;
  --padding-11xs: 0.125rem;
  --padding-2xl: 1.312rem;
  --padding-9xs: 0.25rem;
  --padding-8xs: 0.312rem;
  --padding-2xs: 0.687rem;
  --padding-3xs: 0.625rem;
  --padding-mid: 1.062rem;
  --padding-10xs: 0.187rem;

  /* Border radiuses */
  --br-smi: 13px;
  --br-7xs: 6px;
  --br-21xl: 40px;
  --br-8xs: 5px;
  --br-mini: 15px;
  --br-3xs: 10px;
}
