<div class="container">
<ul>
  <% @transactions.each do |transaction| %>
    <li><%= transaction.name %></li>
    <li><%= transaction.description %></li>
    <li><%= transaction.date %></li>
    <li><%= transaction.amount %></li>
  <% end %>
</ul>
</div>
